-- Atualização da RPC get_top_10_opportunities para incluir company_settings
create or replace function public.get_top_10_opportunities()
returns table (
  id uuid,
  agency_name text,
  process_number text,
  modality text,
  object_description text,
  category text,
  estimated_value numeric,
  delivery_deadline_days int,
  state text,
  city text,
  session_date timestamptz,
  closing_date timestamptz,
  is_me_epp boolean,
  source_url text,
  score int,
  classification text,
  reasons text[],
  risk_points text[],
  estimated_profit numeric,
  required_capital numeric,
  is_favorite boolean,
  stage text
)
language plpgsql
security definer
set search_path = public
as $BODY
declare
  v_user_id uuid;
begin
  v_user_id := auth.uid();
  if v_user_id is null then
    raise exception 'Não autorizado.';
  end if;

  return query
  select
    o.id,
    o.agency_name,
    o.process_number,
    o.modality,
    o.object_description,
    o.category,
    o.estimated_value,
    o.delivery_deadline_days,
    o.state,
    o.city,
    o.session_date,
    o.closing_date,
    o.is_me_epp,
    o.source_url,
    coalesce(sc.score, 0) as score,
    coalesce(sc.classification, 'red') as classification,
    coalesce(sc.reasons, '{}'::text[]) as reasons,
    coalesce(ea.risk_points, '{}'::text[]) as risk_points,
    fs.profit as estimated_profit,
    fs.required_capital as required_capital,
    coalesce(pi.is_favorite, false) as is_favorite,
    coalesce(pi.stage, 'novas') as stage
  from public.opportunities o
  left join public.opportunity_scores sc on sc.opportunity_id = o.id
  left join public.edital_analyses ea on ea.opportunity_id = o.id
  left join lateral (
    select f.profit, f.required_capital, f.margin_pct
    from public.financial_simulations f
    where f.opportunity_id = o.id and f.owner_id = v_user_id
    order by f.created_at desc
    limit 1
  ) fs on true
  left join public.pipeline_items pi on pi.opportunity_id = o.id and pi.owner_id = v_user_id
  cross join (
    select available_capital, min_margin_pct, service_states, service_cities
    from public.company_settings
    where owner_id = v_user_id
    limit 1
  ) cs
  where o.owner_id = v_user_id
    and o.is_compatible = true
    and coalesce(pi.is_discarded, false) = false
    and (o.closing_date is null or o.closing_date > now())
    -- Filtros de company_settings
    and (fs.required_capital is null or cs.available_capital is null or cs.available_capital = 0 or fs.required_capital <= cs.available_capital)
    and (fs.margin_pct is null or cs.min_margin_pct is null or cs.min_margin_pct = 0 or fs.margin_pct >= cs.min_margin_pct)
    and (
      cs.service_states is null 
      or cardinality(cs.service_states) = 0 
      or o.state = any(cs.service_states)
    )
  order by
    coalesce(sc.score, 0) desc,
    o.estimated_value desc nulls last,
    o.created_at desc
  limit 10;
end;
$BODY;

grant execute on function public.get_top_10_opportunities() to authenticated;
